.table-container {
    width: 100%;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.deals-table {
    width: 98%;
    border-collapse: collapse;
}

.deals-table th, .deals-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.deals-table th {
    background-color: #f4f4f4;
    color: #333;
}

.deals-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.deals-table tr:hover {
    background-color: #f1f1f1;
}

.deals-table button {
    border-width: 0;
}

.deals-table button:hover {
    background-color: #333;
}